{
  "proxy_host": null,
  "proxy_port": null,
  "jenkins_host": "https://myjenkinshost",
  "jenkins_url": "https://myjenkinshost/jenkins/",
  "hub_config": "~/.config/hub",
  "github_user": "myuserororg",
  "irc_channel": "#myircchannel",
  "bot_github_user": "mybotuser",
  
  "repo_groups": {
    "myrepo1": "group1",
    "myrepo2": "group1"
  },

  "settings": {
    "test_settings": {
      "name": "test",
      "test_prefix": "Test Results:",
      "allow_multiple": true,
      "run_without_trigger": false,
      "branches": { "*": {"jenkins_job_name": "test_pull_requests_stage",
                              "downstream_job_name": "build_image_stage",
                              "build_token": "mytoken"},
                    "master": {"jenkins_job_name": "test_pull_requests",
                               "downstream_job_name": "build_image",
                               "build_token": "mytoken"
                               "addtl_jenkins_params": {"group1": {"param1": "value1",
                                                                   "param2": "value2"} }
                              } },
      "repo_to_teams": {
        "myrepo1": ["111111", "222222", "333333"],
        "myrepo2": ["111111", "444444"]
      },
      "repo_to_pull_id_param": {
        "myrepo1": "MYREPO1_PULL_ID",
        "myrepo2": "MYREPO2_PULL_ID"
      }
    },
    "merge_test_settings": {
      "name": "merge",
      "test_prefix": "Merge Test Results:",
      "allow_multiple": false,
      "branches": { "*": {"jenkins_job_name": "merge_pull_requests_stage",
                              "downstream_job_name": "build_image_stage",
                              "image_base_name": "devenv-stage",
                              "build_token": "mytoken"},
                    "master": {"jenkins_job_name": "merge_pull_requests",
                               "downstream_job_name": "build_image",
                               "image_base_name": "devenv",
                               "build_token": "mytoken"} },
      "repo_to_teams": {
        "myrepo1": ["111111", "222222"],
        "myrepo2": ["111111"]
      },
      "repo_to_pull_id_param": {
        "myrepo1": "MYREPO1_PULL_ID",
        "myrepo2": "MYREPO2_PULL_ID"
      }
    }
  }
}
